body{
    background-color: #e2e2e2!important;
}

/*HOME PAGE STYLE*/

.banner-img{
    width: 100%;
    height: 89.6vh;
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)),url("../img/home-image.jpg");
    color: white;
    background-size: cover;
}



/*ADDING EXPLICITLY CSS BECAUSE ml-auto NOT WORKING */
.f-m{
    margin-left: auto;
}


.nav-col{
    background: linear-gradient(90deg, rgba(40,37,47,1) 27%, rgba(255,255,255,0) 49%, rgba(0,0,0,0.6195728291316527) 62%);
}

.foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.signup-div{
    padding: 20px;
    background: white;
}

/*  sidebar css*/

.sidebar{
	width: 18%;
	 background: white;
	 height: 100%;
	 position: fixed;
	 padding-top: 45px;
}

.sidebar a{
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: gray;
}

.sidebar a:hover{
	background: #e2e2e2;
	transition : 0.5s;
	color: black;
	font-weight: bold;
	font-style: italic;
}

.sidebar .divider{
	height: .5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}

.content{
	margin-left: 20%;
}

.input-field{
	
	width: 100%;
}

.inner-content{
	margin-top: 20%;
}

.section{
	margin-top: 4%;
}

.my_profile_picture{
	width: 50px;
	height: 50px;
	border-radius: 30px;
	object-fit : cover;
}

.img-data{
	text-align: center;
}


